@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<!DOCTYPE html>
<html>
<head>
    <title>Simple Web App</title>

</head>
<body>
    <h1>Hello,</h1>
    <p>This is a simple web app, where you can insert Employees and check who have worked less than 10 seconds</p>
</body>
</html>
